// common css start
body {
    font-family: 'Roboto', sans-serif;
    color: #8492af;
    font-size: 18px;
    line-height: 30px;
}

.title {
    font-size: 60px;
    font-weight: 250;
    line-height: 50px;
}

.title2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0;
}

// common css end

// header start
header {
    padding-top: 45px;
    padding-bottom: 550px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: repeat-y;


    // <!-- nav start -->
    nav {
        .navbar-brand {
            width: 50%;
        }

        ul {
            li {
                &:last-child {
                    a {
                        border: 1px solid rgba(85, 132, 255, 0.3) !important;
                        padding: 16px 45px !important;
                        border-radius: 24px !important;
                        color: #5584ff !important;
                        margin-top: 0;
                        transition: .3s;

                        &:hover {
                            color: #ffffff !important;
                            border: 1px solid #ffffff !important;

                        }
                    }
                }

                a {
                    color: #ffffff !important;
                    font-size: 18px !important;
                    letter-spacing: 0 !important;
                    margin-left: 50px;
                    margin-top: 10px;
                    transition: .3s;

                    &:hover {
                        color: #5584ff !important;
                    }

                }
            }
        }
    }

    // <!-- nav end -->

    // <!-- banner start -->
    .banner {
        padding-top: 150px;
        position: relative;

        // h1 {}

        p {
            font-size: 36px;
            line-height: 14px;
            color: #8492af;
            margin-top: 45px;
            margin-bottom: 70px;
        }

        button {
            border-radius: 24px;
            background-color: #5584ff;
            padding: 16px 55px;
            letter-spacing: 0;
            color: #ffffff;
            font-weight: 700;
            transition: .3s;

            &:hover {
                color: #5584ff;
                background-color: #ffffff;
            }
        }

        img {
            position: absolute;
            top: 369px;
            left: 190px;
        }
    }

    // <!-- banner end -->


}

// header end

// <!-- services start -->
.services {
    padding-top: 195px;
    padding-bottom: 10px;

    .service-content {
        text-align: center;
        padding-top: 50px;

        img {}

        h2 {
            color: #0e1a35;
        }

        p {}

        button {
            margin-top: 55px;
            border: 1px solid rgba(132, 146, 175, 0.3);
            border-radius: 24px;
            padding: 17px 85px;
            background: none;
            color: #0e1a35;
            font-weight: 700;
        }
    }
    
}

// <!-- services end -->

// <!-- browser start -->
.browser {}

// <!-- browser end -->

// <!-- drag start -->
.drag {}

// <!-- drag end -->

// <!-- template start -->
.template {}

// <!-- template end -->

// <!-- pricing start -->
.pricing {}

// <!-- pricing end -->

// footer start
footer {}

// footer end