// common css start
body{
    font-family: 'Roboto', sans-serif;
    color: #8492af;
    font-size: 18px;
    line-height: 30px;
}

.title{
    font-size: 60px;
    font-weight: 250;
    line-height: 14px;
}

.title2{
    font-size: 24px;
    font-weight: 700;
    line-height: 92px;
    letter-spacing: 0px;
}
// common css end

// header start
header{

    // <!-- nav start -->
    // <!-- nav end -->

    // <!-- banner start -->
    .banner{}
    // <!-- banner end -->


}
// header end

// <!-- services start -->
.services{}
// <!-- services end -->

// <!-- browser start -->
.browser{}
// <!-- browser end -->

// <!-- drag start -->
.drag{}
// <!-- drag end -->

// <!-- template start -->
.template{}
// <!-- template end -->

// <!-- pricing start -->
.pricing{}
// <!-- pricing end -->

// footer start
footer{}
// footer end
